[submodule "archstrap-home"]
	path = home
	url = https://github.com/sebastianlach/archstrap-home
[submodule "etc"]
	path = etc
	url = git@github.com:sebastianlach/etc.git
[submodule "home"]
	url = git@github.com:sebastianlach/home.git
