[submodule "archstrap-etc"]
	path = archstrap-etc
	url = https://github.com/sebastianlach/archstrap-etc
[submodule "archstrap-home"]
	path = archstrap-home
	url = https://github.com/sebastianlach/archstrap-home
