language: shell
os: linux
dist: xenial

services:
  - docker

before_install:
  - pip install --user -r requirements.txt
  - docker login --username $DOCKER_USERNAME --password $DOCKER_PASSWORD

install:
  - invoke build
  - docker images

script:
  - invoke export
  - invoke extract
  # - invoke images
  # - invoke download
  - du -h *.tar
  - docker run -it --rm slach/archstrap whereis ls
  - docker run -it --rm slach/archstrap find /etc -ls
  - docker run -it --rm slach/archstrap ls -l /etc
